@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0; padding: 0;}
body{
    font-family: "S-CoreDream-3Light";
    background-color: #0d0e22;
    color: #fff;
}

.container{
    background-color: #212241;
    min-height: 100vh;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    padding: 70px;
}


h1{
    font-family: "Black Han Sans";
    margin-bottom: 40px;
}

.input-area{
    margin-bottom: 40px;
    height: 40px;
}

.input-area #task-input{
    width: 80%;
    height: 40px;
    border: none;
    padding-left: 20px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
    margin-right: 20px;
}
.input-area #task-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }

.input-button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: #3265ba;
    border-radius: 50%;
    font-size: 23px;
    font-family: 'S-CoreDream-7ExtraBold';
    color: #fff;
}
.input-button:hover{
    background-color: #598ce5;
}


.task-tabs{
    display: flex;
    position: relative;
    margin-bottom: 50px;
}
.task-tabs div{
    padding: 15px;
    cursor: pointer;
}

#under-line{
    height: 7px;
    background-color: #3265ba;
    position: absolute;
    width: 50px;
    left: 0px;
    top: 48px;
    padding: 0;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    
}


.task button{
    background-color:transparent;
    border: none;
    outline: none;
}
.task button:first-child{
    margin-right: 20px;
}
.task button i{
    font-size: 20px;
}

.task-done{
    text-decoration: line-through;
    box-shadow: none;
    color: #888888;
}

.task-bg-done{
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: none;
    border-radius: 40px;
}

.icon{
    display: flex;
}